/* Stackline Exercise Styles */

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

/* Header Styles */
div.header {
  display: flex;
  align-items: center;
  height: 4em;
  margin: 10px 15px;
}

div.header img {
  width: 12%;
  cursor: pointer;
}

/* Product Body */
div.product-body {
  display: flex;
  flex-direction: row;
  background-color: #dfe5ed;
  width: 100%;
  height: calc(100vh - 84px);
  overflow-y: scroll;
}

div.side-menu {
  max-width: 30%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 60px 20px 0 20px;
}

div.side-menu * {
  margin: 20px 15px;
}

div.side-menu p {
  margin: 0 60px;
  font-weight: 100;
}

div.side-menu img {
  max-width: 50%;
}

div.side-menu .tag-container {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  margin: 20px 10px;
}

div.side-menu .tag {
  margin: 5px 5px;
  font-weight: 300;
  padding: 5px 5px;
  border-radius: 5px;
  border: grey solid 1px;
  font-size: 14px;
  cursor: pointer;
}

div.side-menu .menu-link {
  display: flex;
  align-items: center;
  width: 100%;
  height: 20px;
}

div.side-menu .menu-link img {
  max-width: 25px;
}

/* Chart container & Charts */

div.chart-container {
  width: 70%;
  height: 50%;
  margin: 60px 20px 0 20px;
  background-color: #fff;
}

div.chart-container h2 {
  margin: 15px 20px;
  font-weight: 200;
  font-size: 18px;
}

div.chart-container svg path {
  fill: none;
  stroke: #3caacf;
  stroke-width: 3px;
}

div.chart-container svg path#gray {
  stroke: #efefef;
}

div.chart-container svg .domain {
  stroke: grey;
}
